{% extends "layout.html" %}
{% block content %}

{% if errors %}
{% for error in errors %}
    <div class="alert alert-danger show w-75 d-flex mx-auto">
        {{ error }}
    </div>
{% endfor %}
{% endif %}

<h1>Create Store</h1>
<form action="{{ url_for('create') }}" method="POST">
    <input class="form-control" type="text" name="store_name"><br>
    <input class="btn btn-primary" type='submit' value='Create'>
</form>

<h1 class="mt-3">Stores</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" class="text-center">Store ID</th>
            <th scope="col" class="text-center">Store name</th>
            <th scope="col" class="text-center">Number of Warehouses</th>
            <th scope="col" class="text-center">Bomb the Store</th>
        </tr>
    </thead>
    <tbody>
        {% for store in stores %}
        <tr>
            <td class="text-center">{{ store.id }}</td>
            <td class="text-center">{{ store.name }} <span style="float:right;"><a href="{{url_for('edit', id=store.id) }}" class="btn btn-outline-warning btn-sm ml-3">Edit</a></span></td>
            <td class="text-center">{{ store.warehouses.count() }}</td>
            <td>
                <div class="d-flex justify-content-center">
                    <form action="{{ url_for('delete', id=store.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Detonate">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}